* {
    /*opacity: 0;*/
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Monserrat';
    src: url(https://fonts.googleapis.com/css2?family=Montserrat&display=swap);
}

body {
    font-family: Monserrat, sans-serif;
    /*text-align: center;*/
    max-width: 100%;
    overflow-x: hidden;
}

.hole {
    padding: 0;
    margin: 0;
    z-index: 100;
    width: 100%;
    height: 350mm;
    position: absolute;
    top: 0;
    left: 0;
    /*background-color: gray;*/
}

.hole:after {
    opacity: 0;
    content: "  ";
    position: absolute;
    width: 210mm;
    height: 297mm;
    left: 50%;
    top: 100px;
    transform: translate(-50%, 0);
    /*box-shadow: 0 0 0 2000px #d7d7d7;*/
    box-shadow: 0 0 0 2000px #fff;
    border: gray solid 5px;
    animation: opacity 5s 84s forwards;
}

.main {
    position: relative;
    margin: 100px auto 20px auto;
    height: 297mm;
    width: 210mm;
    border: gray solid 5px;
}

.background {
    opacity: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    animation: slide-left 5s 1s forwards;
    width: 100%;
    height: 100%;
    background-color: #4DA865;
}

.row1 {
    position: relative;
    z-index: 11;
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    background-color: #4DA865;
    /*border-bottom: black solid 5px;*/
}

.row1 > div {
    position: relative;
    display: flex;
    flex-direction: row;
    flex: 0 0 50%;
    justify-content: space-between;
    margin-left: 10px;
}

.row1 > div > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#row1-1 > h1 {
    opacity: 0;
    color: yellow;
    font-size: 800%;
    font-weight: 600;
    line-height: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    align-content: flex-end;
    -webkit-text-stroke: 3px green;
    animation: slide-right 5s 61s forwards, rotate 3s 66s forwards;
}

#row1-1, #row1-2 {
    flex: 0 0 50%;
    height: 50%;
}

#row1-1 > div {
    opacity: 0;
    color: white;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 30px;
    animation: slide-left 5s 51s forwards;
}

.circle-img {
    opacity: 0;
    height: 120%;
    width: auto;
    margin: -30px 10% 0 0;
    animation: slide-down 5s 56s forwards;
}

#row1-2 > h1 {
    opacity: 0;
    margin-bottom: -10px;
    color: white;
    font-size: 800%;
    font-weight: 800;
    line-height: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    -webkit-text-stroke: 3px green;
    text-shadow: rgba(0, 0, 0, 0.49) 2px 2px 5px;
    animation: slide-left 5s 41s forwards;
}

.logos {
    opacity: 0;
    display: flex;
    flex-direction: column;
    margin-right: 5%;
    animation: slide-left 5s 46s forwards;
}

#toloka {
    height: auto;
    width: 25px;
}

#plus16 {
    width: 25px;
    height: auto;
}

.row2 {
    opacity: 0;
    width: 100%;
    height: 50%;
    display: flex;
    background-color: white;
    border-top: solid white 10px;
    animation: slide-right 5s 6s forwards;
}

.cans-box {
    position: relative;
}

.cans {
    opacity: 0;
    z-index: 9;
    height: 100%;
    animation: slide-left 5s 11s forwards;
}

.cans-box > p {
    opacity: 0;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px red, -1px -1px red, -1px 1px red, 1px -1px red, 6px 6px 10px #000000;
    font-size: xxx-large;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 65%;
    animation: slide-up 5s 16s forwards;
}

#calendar {
    opacity: 0;
    position: absolute;
    width: 200px;
    z-index: 10;
    top: -7%;
    left: -5%;
    animation: slide-left 5s 36s forwards;
}

.column1 {
    display: flex;
    flex-direction: column;
}

.column1 p {
    margin: 0 10px;
    opacity: 0;
    animation: slide-right 5s 26s forwards;
}

.column1 p:nth-of-type(odd) {
    font-weight: bold;
}

.column1 p:nth-of-type(even) {
    margin: 3px 10px;
}

.flowers {
    opacity: 0;
    z-index: 10;
    width: 90%;
    margin-left: 10px;
    animation: slide-right 5s 21s forwards;
}

.arrow {
    opacity: 0;
    z-index: 10;
    width: 105%;
    margin-bottom: 2px;
    animation: slide-right 5s 31s forwards;
}

.row3 {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.row3 > div {
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: large;
    animation: slide-left 5s 74s forwards;
}

#circle-img2 {
    opacity: 0;
    height: 150%;
    width: auto;
    z-index: 10;
    margin: -13% 0 0 -15%;
    /*border-radius: 50%;*/
    /*border: white solid 7px;*/
    animation: slide-left 5s 69s forwards, pulse 1s 89s ease infinite;
}

#barcode {
    opacity: 0;
    z-index: 10;
    height: 100%;
    width: auto;
    margin: -4% 3% 0 0;
    animation: slide-left 5s 79s forwards;
}

.yellow {
    color: yellow;
}

@keyframes slide-left {
    from {
        opacity: 60%;
        transform: translateX(300%);
    }
    to {
        opacity: 100%;
        transform: translateX(0%);
    }
}

@keyframes slide-right {
    from {
        opacity: 60%;
        transform: translateX(-300%);
    }
    to {
        opacity: 100%;
        transform: translateX(0);
    }
}

@keyframes slide-down {
    from {
        opacity: 60%;
        transform: translateY(-300%);
    }
    to {
        opacity: 100%;
        transform: translateY(0);
    }
}

@keyframes slide-up {
    from {
        opacity: 60%;
        transform: translateY(300%);
    }
    to {
        opacity: 100%;
        transform: translateY(0);
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-3deg);
    }
}

@keyframes opacity {
    from {
        opacity: 0;
        box-shadow: 0 0 0 2000px gray;
    }
    to {
        opacity: 100%;
        box-shadow: 0 0 0 2000px #fff;
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}